# generated
*.nds
*.ini
*.mch
build/*
base/*
narc/*
waves/*.nwav
1.txt
3.txt
9.txt
12.txt
9.txr
定点捕捉等宠物.txt
技能表表格.txt
心金898测试版.zip
b.c
dump.py
dumpitem.py
*_DSPRE_contents/*
/tools/*.s
/tools/dumped_armips/*
/tools/dumped_c/*

# pycache files
*.pyc
.venv
*.sav

/tools/msgenc*
/tools/ndstool*
/tools/armips*
/tools/adpcm-xq*
/tools/nitrogfx*
/tools/movedatagen*
/tools/ENCODE_IMG*
/tools/btx*
/tools/jsonproc*
/tools/ntrWavTool.py
/tools/o2narc*
/tools/pngtobtx0.exe*
/tools/pokedexdatagen*
/tools/speciesdatagen*
/tools/trainerdatagen*

*.o
*.d
*.DS_STORE
.vs/
.vscode/
rom_gen*.ld
.idea/
.zed
compile_commands.json
CLAUDE.md

sdat/*
*.swav
*.swar

*:Zone.Identifier
*Zone.Identifier

*.ml*

*.gbapal
*.4bpp
changelog

/data/generated/
/armips/include/generated/
/include/constants/generated/
test_logs.txt
.scratch/
dumped_armips/
dumped_c/
test_filter.txt
Docs&Changelog/mega_priority.png
